h2 {
    font-family: cursive;
    text-align: center;
	margin: 5px;
	background:linear-gradient( to left, white, #ffefaf);
    color: white;
	text-shadow: rgb(231, 70, 11) 1px 0 10px;

}
h1 {
    text-align: center;
    text-shadow:
    1px 1px 2px rgb(255, 251, 0),
    0 0 1em blue,
    0 0 0.2em blue;
	color: black;
    font-size: xx-large;
	
}
h3 {
    text-align: center;
	color: #3f3faf;
	margin: 5px;
	background:linear-gradient( to left, white, rgb(0, 255, 140));
}
p#1 {
    color: white;
    text-shadow: rgb(0, 255, 242) 1px 0 10px;
}
h4 {
    text-align: center;
    color: blue;
    text-shadow: rgb(246, 255, 0) 1px 0 10px;
    font-size: larger;
}